h1 {
font-family: Times New Roman;
color: #CC6600;
}
h2 {
font-family:Georgia, 'Times New Roman', Times, serif;
font-size:medium;
color: #FF0099;
}
h3 {
font-family:Georgia, 'Times New Roman', Times, serif;
font-size:medium;
color: #3333CC;
}
p:: first-line {
font-size: 120%;
font-weight: bold;
}
